<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Customer</title>
</head>
<body>
    <h1>Customer</h1>
    {% for customer in result_customer %}
        <div>
            <p>Ten: {{ customer.name }}</p>
            <p>gender: {{ customer.gender }}</p>
            <p>email: {{ customer.email }}</p>
            <p>phone: {{ customer.phone }}</p>
            <p>job: {{ customer.job }}</p>
            <p>company: {{ customer.company }}</p>
            <p>contacted: {{ customer.contacted }}</p>
        </div>
        <hr>
    {% endfor %}
</body>
</html>