<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include 'meta-data.html' %}
</head>
<body>
    {% include 'homepage/navigation.html'%}
    {% include 'homepage/carousel.html'%}

    {% if session['signin'] %}
        <h3>Xin chao, {{ session['user_id'] }}</h3>
        <a href="{{ url_for('signout') }}">Dang xuat</a>
    {% endif %}
    <h1>Service</h1>
    <a href="{{ url_for('search') }}">Service</a>
    <!-- <a href="{{ url_for('search', gender=1) }}">Nam</a>       url_for de chay function -->
    <!-- <a href="{{ url_for('search', gender=0) }}">Nu</a> -->
    <hr>
    <h1>Customer</h1>
    <a href="/customer">Customer</a>
    <hr>
    <h1>Admin</h1>
    <a href="{{ url_for('admin') }}">Admin</a>
</body>
</html>