<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <table>
            <tr>
                <td><label>Ten</label></td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td><label>YOB</label></td>
                <td><input type="text" name="yob"></td>
            </tr>
            <tr>
                <td><label>Dia chi</label></td>
                <td><input type="text" name="address"></td>
            </tr>
            <tr>
                <td><label>Phone</label></td>
                <td><input type="text" name="phone"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="radio" name="gender" value="1" checked> Male
                    <input type="radio" name="gender" value="0"> Female
                </td>
            </tr>
        </table>

        <button type="submit">Submit</button>
    </form>
</body>
</html>