<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Search</h1>
    {% for service in all_service %}
        <div>
            <img src="{{ service.image }}" alt="{{ service.name }}" height="200px">
            <p>Ten: {{ service.name }}</p>
            <p>Chieu cao: {{ service.height }}</p>
            <p>YOB: {{ service.yob }}</p>
            <a href="{{ url_for('detail', service_id=service.id) }}">Chi tiet</a>
        </div>
        <hr/>
    {% endfor %}
</body>
</html>