<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
</head>
<body>
    <h1>Sign up</h1>
    <form method="POST">
        <label>Ten day du:</label><br>
        <input type="text" name="fullname">
        <br>
        <label>Email:</label><br>
        <input type="text" name="email">
        <br>
        <label>Ten dang nhap:</label><br>
        <input type="text" name="username">
        <br>
        <label>Mat khau:</label><br>
        <input type="password" name="password">
        <br>
        <input type="submit" value="Dang ky">
    </form>
</body>
</html>