<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
</head>
<body>
        <h1>{{ service.name }}</h1>
        <form method="POST">
                <table>
                    <tr>
                        <td><label>Ten</label></td>
                        <td><input type="text" name="name" value="{{ service.name }}"></td>
                    </tr>
                    <tr>
                        <td><label>YOB</label></td>
                        <td><input type="text" name="yob" value="{{ service.yob }}"></td>
                    </tr>
                    <tr>
                        <td><label>Dia chi</label></td>
                        <td><input type="text" name="address" value="{{ service.address }}"></td>
                    </tr>
                    <tr>
                        <td><label>Phone</label></td>
                        <td><input type="text" name="phone"  value="{{ service.phone }}"></td>
                    </tr>
                    <tr>
                        <td><label>Height</label></td>
                        <td><input type="text" name="height"  value="{{ service.height }}"></td>
                    </tr>
                    <tr>
                        <td><label>Description</label></td>
                        <td><input type="text" name="description"  value="{{ service.description }}"></td>
                    </tr>
                    <tr>
                        <td><label>Measure</label></td>
                        <td><input type="text" name="measure"  value="{{ service.measure }}"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="radio" name="gender" value="1" {% if service.gender == 1%} checked {% endif %}> Male
                            <input type="radio" name="gender" value="0" {% if service.gender == 0%} checked {% endif %}> Female
                        </td>
                    </tr>
                    <!-- <tr>
                        <td></td>
                        <td>
                            <input type="radio" name="status" value=true {% if service.gender == true%} checked {% endif %}> San sang
                            <input type="radio" name="status" value=false {% if service.gender == false%} checked {% endif %}> Busy
                        </td>
                    </tr> -->
                </table>
        
                <button type="submit">Update</button>
            </form>
</body>
</html>