<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Hello world</h1>
    <!-- jinja2 -->
    {% for i in post %}
        <h3>{{ i.title }}</h3>       
        <p>
            {{ i.content }}
        </p>
        <!-- {% if {{ i.gender }} == 0 %} 
            Mr 
        {% endif %} -->

        {{ "Mr" if i.gender == 0 else "Ms" }}
        <i>By: {{ i.author }}</i>
        <hr>
    {% endfor %}
</body>
</html>