.box-model{
    padding:  30px;
    margin: 0 auto;
}

.p-50px{
    padding:50px;
}
.h-500px{
    height: 500px;
}
#background{
    height: 500px;
    width: 100vw;
    background-image: url("http://techkids.vn/images/Background.jpg");
    background-size:cover;
}

.flex-box{
    display:flex;
    justify-content:center;
}

.h-400px{
    height:400px ;
}

.w-20{
    width: 20%;
}
.h-250px{
    height: 250px;
}
.text-white{
    color: white;
}
.text-center{
    text-align:center;
}
.d-flex{
    display: flex;
}
.box{
    justify-content: space-around;
    text-align: center;
}
.content{
    margin-top: 80px;
    justify-content: space-around;
}
.box img{
    width:200px;
    height:200px;
    border-radius: 50%;
}
.line{
    margin: 25px auto;
    border-top: 1px solid white;
    width: 70%;
}